.st-round-icon-btn {
    height: 40px;
    width: 40px;
    transition: var(--defaultTransitionTiming);
    background-color: var(--textLightColor);
    color: #fff;
}
.st-round-icon-btn {
}
/* primary btn */
.st-round-icon-btn.st-btn-primary {
    background-color: var(--primaryColor);
}
.st-round-icon-btn.st-btn-primary:hover,
.st-round-icon-btn.st-btn-primary:active {
    background-color: var(--primaryDarkColor);
}
/* secondary btn */
.st-round-icon-btn.st-btn-secondary {
    background-color: var(--secondaryColor);
}
.st-round-icon-btn.st-btn-secondary:hover,
.st-round-icon-btn.st-btn-secondary:active {
    background-color: var(--primaryColor);
}

/* btn main */
.st-btn {
    background-color: var(--textLightColor);
    color: #fff;
    transition: var(--defaultTransitionTiming);
    box-shadow: none;
    line-height: normal;
    font-weight: normal;
    border: none;
    padding: 10px 17px 11px;
    border-radius: 0;
    min-width: 120px;
}
.st-btn:not(.st-btn-rounded-0) {
    border-radius: 40px;
}
.st-btn:hover,
.st-btn:active {
    background-color: var(--textDarkColor);
    color: #fff;
}
.st-btn:focus {
    box-shadow: none;
}

/* primary btn */
.st-btn.st-btn-primary {
    background-color: var(--primaryColor);
}
.st-btn.st-btn-primary:hover,
.st-btn.st-btn-primary:active {
    background-color: var(--primaryDarkColor);
}

/* secondary btn */
.st-btn.st-btn-secondary {
    background-color: var(--secondaryColor);
}
.st-btn.st-btn-secondary:hover,
.st-btn.st-btn-secondary:active {
    background-color: var(--primaryColor);
}

/* sizes */
.st-btn.st-btn-xs {
    padding: 8px 14px 8px;
    min-width: auto;
}
.st-btn.st-btn-lg {
    padding: 12px 17px 13px;
    min-width: 170px;
}
