/* HEALTH METER STYLES */
#health-meter-main {
}
.health-meter-main-inner {
}

#health-meter-main .form-container > .st-form:first-child::before {
    content: "";
    width: 1px;
    height: 25px;
    background-color: var(--borderDefaultColor);
    position: absolute;
    right: 0;
    top: 10px;
}
